html {
  background-color: #fff;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.w100{
  width: 100%;
}

.flex{
  display: flex;
  flex-wrap: wrap;
}

.text-center{
  text-align: center;
}

.container{
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}

.ismobile {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e2e2e2;
}

*, *:focus {
  outline: none;
}

a, a:active, a:hover, a:visited, a:focus {
  color: unset;
  text-decoration: none;
  cursor: pointer;
}

.col-6 {
  flex: 0 0 50%;
}

.col-4 {
  flex: 0 0 25%;
}
